:host {
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
:host(:first-child) {
    border-top: 1px solid #eee;
}
.id:before {
    content: '#';
    color: var(--todo-item-hash-color, #ccc);
}
.task, form {
    flex-basis: 100%;
    padding: 0 10px;
}
input {
    display: block;
    width: calc(100% - 10px);
}
.done {
    white-space: nowrap;
}