:host {
    display: block;
    margin: 10px 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

a {
    background-color: var(--app-navigation-link-bg-color, deepskyblue);
    color: var(--app-navigation-link-text-color, white);
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}
a:hover {
    background-color: var(--app-navigation-link-bg-color-hover, dodgerblue);
}