:host {
    background: var(--todo-form-bg, #ddd);
    display: block;
    padding: 20px;
}
legend {
    background-color: var(--todo-form-legend-bg, #eee);
    padding: 3px 12px;
}
fieldset {
    border: 1px solid var(--todo-form-legend-border, #666);
    display: flex;
    justify-content: space-between;
}
input,
button {
    font-family: Calibri, sans-serif;
}
input {
    background-color: var(--todo-form-input-bg, #fff);
    border-width: 0;
    padding: 5px 10px;
}
button {
    background-color: var(--todo-form-button-bg, #006400);
    border-radius: 0;
    border-width: 0;
    color: var(--todo-form-button-color, #fff);
    cursor: pointer;
    padding: 5px 10px;

}